<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>登录失败</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<style>
    body{
        background-color: #9D9D9D;
    }
</style>
</head>
<body>
<script type="text/javascript">
        window.onload = function(){
            alert("该用户尚未激活");
            window.location.href = 'http://localhost:8000/';
        }
    </script>
</body>
</html>